<% if @user.id == current_user.id %>
<!-- タブ部分 -->
<div class="p-3">

	<!-- タブボタン部分 -->
	<ul class="nav nav-tabs">
		<li class="nav-item active">
			<a href="#tab10" class="nav-link" data-toggle="tab" aria-expanded="true">自分の投稿</a>
		</li>
		<li class="nav-item">
			<a href="#tab11" class="nav-link" data-toggle="tab" aria-expanded="false">問い合わせした投稿</a>
		</li>
	</ul>

	<!--タブのコンテンツ部分-->
	<div class="tab-content">
		<div id="tab10" class="tab-pane active" style="margin-bottom: 30px;">

	        <table class="table table-bordered">
	          <thead>
	          <tr>
	                <th></th>
	                <th>投稿日</th>
	                <th>タイトル</th>
	                <th>地域</th>
	                <th>募集状況</th>
	                <th>編集</th>
	          </tr>
	          </thead>
	          <tbody>
	          <% @cats.each do |cat| %>
	          <tr>
	                <td>
						<%= link_to cat_path(cat.id) do %>
							<% cat.cat_images.first(1).each do |image| %>
							  <%= attachment_image_tag image, :image, :fill, 50, 50 %>
							<% end %>
						<% end %>
	                </td>
	                <td><%= cat.created_at.strftime('%Y/%m/%d') %></td>
	                <td><%= cat.title %></td>
	                <td><%= cat.prefecture %></td>
	                <td><%= cat.cat_status %></td>
	                <td><%= link_to "編集", edit_cat_path(cat.id) %></td>
	          </tr>
	          <% end %>
	          </tbody>
	          </table>
	          <div class="text-center">
					<%= paginate @cats, class: "paginate" %>
			  </div>

			  <%= link_to '里親を探す', new_cat_path, class: "btn btn-secondary btn-block", :style=>"background-color: #777;color: white;margin-top: 50px;" %>

		</div>
		<div id="tab11" class="tab-pane">

			<table class="table table-bordered">
	          <thead>
	          <tr>
	                <th></th>
	                <th>タイトル</th>
	                <th>地域</th>
	                <th>募集状況</th>
	          </tr>
	          </thead>
	          <tbody>
	          <% @fromrooms.each do |room| %>
	          <tr>
	                <td>
	                	<%= link_to cat_path(room.cat.id) do %>
								<% room.cat.cat_images.first(1).each do |image| %>
								<%= attachment_image_tag image, :image, :fill, 50, 50 %>
						        <% end %>
						<% end %>
	                </td>
	                <td>
	                	<%= link_to room_path(room.id) do %>
		                	<%= room.cat.title %>
		                <% end %>
	                </td>
	                <td><%= room.cat.prefecture %></td>
	                <td><%= room.cat.cat_status %></td>
	          </tr>
	          <% end %>
	          </tbody>
	          </table>
			  <div class="text-center">
					<%= paginate @cats, class: "paginate" %>
			  </div>
		</div>
    </div>
</div>
<% else %>

<table class="table table-bordered">
	          <thead>
	          <tr>
	                <th></th>
	                <th>投稿日</th>
	                <th>タイトル</th>
	                <th>地域</th>
	                <th>募集状況</th>
	          </tr>
	          </thead>
	          <tbody>
	          <% @cats.each do |cat| %>
	          <tr>
	                <td>
						<%= link_to room_path do %>
							<% cat.cat_images.first(1).each do |image| %>
							  <%= attachment_image_tag image, :image, :fill, 50, 50 %>
							<% end %>
						<% end %>
	                </td>
	                <td><%= cat.created_at.strftime('%Y/%m/%d') %></td>
	                <td><%= link_to cat_path(cat.id) do %><%= cat.title %><% end %></td>
	                <td><%= cat.prefecture %></td>
	                <td><%= cat.cat_status %></td>
	          </tr>
	          <% end %>
	          </tbody>
</table>
<div class="text-center">
	<%= paginate @cats, class: "paginate" %>
</div>

<% end %>