<div class="container">
	<div class="row">
	<div class="d-inline-block col-lg-8 col-lg-offset-2">

		<h3 class="" style="margin-left: 15px;"><strong><%= @cat.title %></strong></h3>

        <div class="col-lg-6">
        	<!-- 基本情報 -->
			<table class="table-narrow table-bordered" style="background-color: white;color: #777;">
				<tbody>
					<tr class="border-bottom"><th  colspan="5">基本情報</th></tr>
					<tr><td class="title">ID</td><td colspan="3"><%= @cat.id %></td></tr>
					<tr><td class="title">種類</td><td colspan="3"><%= @cat.kind %></td></tr>
	　　　　　　　　　 <tr>
	                    <td width="25%" class="title">年齢期</td>
	                    <td width="25%"><%= @cat.age %></td>
	                    <td width="25%" class="title">年齢詳細</td>
	                    <td width="25%" colspan="3"><%= @cat.age_detail %></td>
	                </tr>
	                <tr>
	                    <td width="25%" class="title">ワクチン</td>
	                    <td width="25%"><%= @cat.vaccine %></td>
	                    <td width="25%" class="title">避妊去勢</td>
	                    <td width="25%" colspan="3"><%= @cat.spay_and_neuter %></td>
	                </tr>
					<tr><td class="title">個人/法人</td>
						<td colspan=""><%= @cat.individual_or_corporate %></td>
                        <td class="title">地域</td>
                        <td colspan="3"><%= @cat.prefecture %></td>
					</tr>
				</tbody>
			</table>

            <!-- 投稿者情報 -->
			<table class="table-narrow table-bordered w100" style="background-color: white;color: #777;">
				<tbody>
					<tr class="border-bottom"><th  colspan="3">投稿者情報</th></tr>
					<tr><td class="title">ID</td><td colspan="3"><%= @cat.user_id %></td></tr>
					<tr><td class="title">ニックネーム</td><td colspan="3"><%= @cat.user.nick_name %></td></tr>
	　　　　　　　　　 <tr>
	                    <td class="title">性別</td><td colspan="3"><%= @cat.user.sex %></td>
	                </tr>
				</tbody>
			</table>

    		<!-- お気に入り -->
    		<div class="col-lg-6">
			<% if @cat.favorited_by?(current_user) %>
			    <%= link_to cat_favorites_path(@cat), method: :delete do %>
			      <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
			      <%= @cat.favorites.count %> いいね
			    <% end %>
			<% else %>
			    <%= link_to cat_favorites_path(@cat), method: :post do %>
			      <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
			      <%= @cat.favorites.count %> いいね
			    <% end %>
			<% end %>
		    </div>

            <!-- 問合せ -->
            <div class="col-lg-6">
            <div class="messagelink">
			  <%= link_to "お問い合わせ", cats_path, class: "btn btn-default", style: " border-radius: 45%;" %>
		    </div>
	     	</div>

	    </div>

　　　　　<!-- 画像 -->
        <div class="col-lg-6">
        	<div class="slick">
				<% @cat.cat_images.each do |image| %>
				  <div>
				    <%= attachment_image_tag image, :image, :fill, 300, 300 %>
				  </div>
				<% end %>
		    </div>
		</div>

　　　　　<!-- 詳細情報 -->
        <div class="col-lg-12">
        	<table class="table-narrow table-bordered" style="background-color: white;color: #777;">
				<tbody>
　　　　　　　　　　　　<tr class="border-bottom">
                        <th colspan="">募集に至った経緯</th>
                    </tr>
                    <tr><td colspan=""><%= @cat.reason %></td></tr>
　　　　　　　　　　　　<tr class="border-bottom">
                        <th colspan="">その備考</th>
                    </tr>
                    <tr><td colspan=""><%= @cat.remark %> </td></tr>
				</tbody>
			</table>
        </div>
  　</div>
　　</div>
</div>

<script>
	 $('.slick').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1000,
      });
</script>